<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;">

  <header class="site-header">
    
       <h1 class="project-name">FURAHA PROJECTS</h1>
    
  
    <nav class="site-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="talents">Talents</a></li>
        <li><a href="foundation">Foundation</a></li>
        <li><a href="analytics">Analytics</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
   
    </nav>

  </header>

   <main class="main-content">
    {{ content }}
  </main>

</body>
</html>
